fastapi
uvicorn
langgraph
langchain
langchain-core
langchain-openai
langchain-community
langchain-groq
neo4j
pinecone
langgraph-checkpoint-sqlite
pymupdf
openpyxl
pandas
sentence-transformers
python-dotenv
reportlab
httpx